.navbar-dashboard {
    display: flex;
    height: 90px;
    box-shadow: 0 2px 2px #00000026;
    background-color: #572f78;
    z-index: 2;
    position: relative;
  }
  .navbar-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .user-name {
    font-weight: 400;
  }
  .img__logo {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 50px;
  }
  @media (min-width: 1440px) {
    .hide-menu {
      display: none;
    }
  }
  .custom-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    border: 1px solid rgba(255, 255, 255, 0.545);
    border-radius: 10px;
    color: white;
    padding: 5px 15px;
  }
  