<div class="navbar-dashboard">
    <div class="navbar-content">
      <div class="img__logo__div mx-4 d-flex">
        <button class="flex btn mt-6 mb-3 me-2" (click)="changeOpenedValue()">
          <img
            src="../../../../assets/icons/menu.svg"
            class="w-12 h-12 mr-1 md:mr-10"
            alt=""
          />
          <img
            src="../../../../assets/images/logo-chek-white.png"
            class="w-12 h-12"
            alt=""
          />
        </button>
      </div>
  
      <div class="flex justify-center items-center">
        <div>
          <span class="user-name text-white">
            Francisco Cid
            <!-- {{ usuario.nombre | titlecase }}
            {{ usuario.apellidoPaterno | titlecase }}
            {{ usuario.apellidoMaterno | titlecase }} -->
          </span>
        </div>
        <div class="h-[40px] rounded-full w-[40px] bg-white ms-5 me-5"></div>
      </div>
    </div>
  </div>
  