<div class="ps-12 py-14 flex justify-between items-center">
    <span class="text-xl md:text-3xl font-bold text-[#572F78]">
      ÚLTIMOS INTENTOS DE LOGIN
    </span>
  </div>
  
 
  <app-dashboard-table></app-dashboard-table>
  