<div class="w-full px-4">
  <div class="py-14 w-full flex justify-center items-center" *ngIf="isLoading">
    <mat-spinner [strokeWidth]="2"></mat-spinner>
  </div>
  <div class="table-container" *ngIf="!isLoading">
    <mat-table #table [dataSource]="dataSource" class="mt-10" matSort>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Nombre cliente
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.user.name }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="mail">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Correo electrónico
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.user.mail }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="ipAddress">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          IP
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.ipAddress }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="browser">
        <mat-header-cell *matHeaderCellDef> Navegador </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.browser }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="location">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Ciudad
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.location }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="country">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          País
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.country }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Fecha
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.createdAt | date : "dd/MM/yyyy hh:mm a" : "-360" }}
        </mat-cell>
      </ng-container>
      <ng-container *matNoDataRow>
        <p class="pl-12 pt-4 text-[#121212] text-[14px]">
          No se han encontrado datos..
        </p>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
  </div>
</div>
