<div class="flex px-6 md:px-24 pt-12">
  <a href="/">
    <img
      src="../../../../assets/images/logo-landing.png"
      alt=""
      width="50"
      height="50"
    />
  </a>
</div>

<div class="w-full flex">
  <div class="flex flex-col w-full xl:w-1/2 pt-10 sm:pt-20 items-center">
    <div class="">
      <p class="text-3xl md:text-5xl text-[#FFB81C] font-black">
        INICIA SESIÓN
      </p>
      <p class="text-lg md:text-xl font-thin">Administrador</p>
    </div>

    <form [formGroup]="loginForm">
      <div
        class="mt-10 flex flex-col justify-center items-center"
        *ngIf="isLoading"
      >
        <mat-spinner [strokeWidth]="3"></mat-spinner>
      </div>
      <div
        class="mt-10 flex flex-col justify-center items-center"
        *ngIf="!isLoading"
      >
        <div class="flex flex-col">
          <label for="mail">Correo electrónico</label>
          <input
            id="mail"
            name="mail"
            class="login-input"
            type="text"
            formControlName="mail"
            placeholder="Ej: ejemplo@mail.com"
          />
        </div>
        <div class="field-not-completed h-[5px]">
          <p *ngIf="notValidField('mail')">
            Debe ingresar el correo electrónico
          </p>
        </div>

        <div class="flex flex-col mt-2">
          <label for="password">Contraseña</label>
          <input
            id="password"
            name="password"
            class="login-input"
            type="password"
            placeholder=""
            formControlName="password"
            (keyup.enter)="login()"
          />
        </div>
        <div class="field-not-completed" *ngIf="notValidField('password')">
          <p>Debe ingresar la contraseña</p>
        </div>
      </div>
    </form>
    <button
      (click)="login()"
      class="login-btn hover:bg-[#a52ada] cursor-pointer"
      [disabled]="!loginForm.valid || isLoading"
    >
      INGRESAR
    </button>
  </div>

  <div class="hidden xl:flex w-1/2 justify-center items-center">
    <img
      src="../../../../assets/images/landing-mc.svg"
      alt=""
      class="h-screen object-cover"
    />
  </div>
</div>
