.example-sidenav {
    border: none;
  }
  .mat-drawer.mat-drawer-side {
    width: 100px;
  }
  .mat-drawer.mat-drawer-side.expanded {
    width: 200px;
  }
  .sidebar-menu-item-a {
    text-decoration: none;
    color: #333;
  }
  .active-list-item {
    background-color: #ebd3ff;
    padding: 3px 40px 0px 10px;
    border-radius: 5px;
  }
  .iconList {
    min-height: 30px;
    min-width: 30px;
  }
  .example-sidenav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-sidenav-content {
    transition: margin-left 0.3s;
  }
  
  .example-sidenav-content.expanded {
    margin-left: 120px;
  }
  
  mat-nav-list {
    width: 65px;
    overflow: hidden;
    transition: width 0.3s;
  }
  
  mat-nav-list h4 {
    opacity: 0;
  }
  
  mat-drawer.expanded mat-nav-list {
    width: 180px;
  }
  
  mat-drawer.expanded mat-nav-list h4 {
    opacity: 1;
    margin: auto 10px;
    transition: all 0.1s ease-in 0.2s;
  }
  
  .item-container {
    display: flex;
    padding: 6px 30px 6px 10px;
    align-items: center;
    justify-content: center;
  }
  
  .sidebar-menu-item-a {
    text-decoration: none;
    color: #572f78;
    font-weight: 500;
    opacity: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 0;
    transition: opacity 0.3s, max-width 0.3s;
  }
  
  mat-drawer.expanded .sidebar-menu-item-a {
    opacity: 1;
    max-width: 150px;
  }
  
  mat-drawer:not(.expanded) .active-list-item {
    background-color: #ebd3ff;
    padding: 6px 0px 6px 10px;
    border-radius: 5px;
    display: flex;
    padding: 6px 30px 6px 10px;
    align-items: center;
    justify-content: center;
  }
  
  @media (max-width: 968px) {
    mat-drawer:not(.expanded) .active-list-item {
      background-color: #ebd3ff;
      border-radius: 5px;
      display: flex;
      padding: 3px 30px 3px 7px;
      align-items: center;
      justify-content: center;
    }
    mat-drawer.expanded mat-nav-list {
      width: 0px;
    }
    .example-sidenav-content.expanded {
      margin-left: 0px;
    }
    .mat-drawer {
      box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.2);
    }
    .mat-drawer.mat-drawer-side {
      width: 0px;
    }
  }
  