<div>
  <div *ngIf="isClient">
    <div
      *ngIf="data === 'Client'"
      class="rounded-full w-[80px] py-1 flex items-center justify-center bg-[#dda15e] text-md text-[#fff]"
    >
      Cliente
    </div>
    <div
      *ngIf="data === 'Admin'"
      class="rounded-full w-[80px] py-1 flex items-center justify-center bg-[#bc6c25] text-md text-[#fff]"
    >
      Admin
    </div>
  </div>
  <div *ngIf="!isClient">
    <div
      *ngIf="isStatus"
      class="rounded-full w-[80px] py-1 flex items-center justify-center bg-[#606c38] text-md text-[#fff]"
    >
      Activo
    </div>
    <div
      *ngIf="!isStatus"
      class="rounded-full w-[80px] py-1 flex items-center justify-center bg-[#283618] text-md text-[#fff]"
    >
      Inactivo
    </div>
  </div>
</div>
