<div class="w-full px-4">
  <div class="py-14 w-full flex justify-center items-center" *ngIf="isLoading">
    <mat-spinner [strokeWidth]="2"></mat-spinner>
  </div>
  <div class="table-container" *ngIf="!isLoading">
    <mat-table #table [dataSource]="dataSource" class="mt-10" matSort>
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Nombre cliente
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.name }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="mail">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Correo electrónico
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.mail }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Estado
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <app-pills [isStatus]="element.status" [isClient]="false"></app-pills>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <mat-header-cell *matHeaderCellDef> Fecha de registro</mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.createdAt | date : "dd/MM/yyyy hh:mm a" : "-360" }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="rut">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Rut
        </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.rut }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="role">
        <mat-header-cell *matHeaderCellDef mat-sort-header>
          Rol
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <app-pills [data]="element.role" [isClient]="true"></app-pills>
        </mat-cell>
      </ng-container>
      <ng-container *matNoDataRow>
        <p class="pl-12 pt-4 text-[#121212] text-[14px]">
          No se han encontrado datos..
        </p>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
  </div>
</div>
