.mat-row:nth-child(even) {
    background-color: rgb(255, 255, 255);
  }
  .mat-row:nth-child(odd) {
    background-color: rgb(248, 248, 248);
  }
  mat-row.mat-row.ng-star-inserted {
    border: 0;
  }
  .table-container {
    overflow-x: scroll;
  }
  .table-container {
    min-width: 1200px;
  }
  .mat-table {
    margin-right: 30px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden !important;
  }
  .mat-paginator {
    margin-right: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden !important;
  }
  